In [1]:
import json
import logging
import pandas as pd
import requests

In [ ]:
def get_manual_prediction():

In [2]:
def get_json_name(file_name:str)->str:
    """Get json file name associated with a video

    Arguments:
        file_name {str} -- a video name for which json file name to be created

    Returns:
        json_file_name -- the name of the json file associated with a video
    """
    file_prefix = os.path.splitext(file_name)[0]
    json_file_name = file_prefix + '.json'
    return json_file_name

In [3]:
DOWNLOAD_PATH = '/tmp'
blob_name = 'manual.json'
blob_json_name = get_json_name(blob_name)

In [8]:
with open(os.path.join(DOWNLOAD_PATH,blob_json_name)) as json_file:
                json_data = json.load(json_file)

In [14]:
def map_json_label_to_trash_id_PG(label:str)->str:
    """Map label of a trash to equivalent ID within PostGre server

    Arguments:
        label {str} -- the label of the trash

    Returns:
        id_PG -- the equivalent id within PG Trash table of trash label
    """
    switcher = { 
        "unknown":"1", #"autre dechet" in PG Data Model mapped to IA "others" label
        "agriculturalFoodWaste":"2",
        "bottles":"3", #"bouteille boisson" in PG Data Model mapped to IA "bottles" label
        "industrials":"1",#"industriel ou construction in PG Data Model mapped to IA "fragments" label
        "fishHunting":"2",
        "foodPackage":"2",
        "householdItems":"2",
        "unknown10":"1"
    }
    id_PG =  switcher.get(label, "0")
    return id_PG

In [15]:
def get_df_json_manual_trash(json_data:dict)->pd.DataFrame:
    """Get trash DataFrame from a JSON file where Trash have been manually collected


    Args:
        json_data (dict): the json data from the Plastic Origin Mobile app

    Returns:
        pd.DataFrame: the gps info as a DataFrame associated with manually collected trash
    """
    trash_list = []
    i = 0
    for trash in json_data['trashes']:
        trash_type_id = map_json_label_to_trash_id_PG(trash['name'])
        trash = {'id':i,'label':trash['name'],'trash_type_id':trash_type_id}
        trash_list.append(trash)
        i = i+1
        df_manual_trash = pd.DataFrame(trash_list)
    return df_manual_trash

In [16]:
manual_trash = get_df_json_manual_trash(json_data)

In [17]:
manual_trash

    id                  label trash_type_id
0    0                unknown             1
1    1                unknown             1
2    2                unknown             1
3    3                unknown             1
4    4  agriculturalFoodWaste             2
5    5                unknown             1
6    6                unknown             1
7    7            foodPackage             2
8    8                unknown             1
9    9                unknown             1
10  10                unknown             1
11  11              unknown10             1
12  12                unknown             1
13  13                unknown             1
14  14                unknown             1
15  15                unknown             1
16  16                unknown             1
17  17                unknown             1
18  18                unknown             1
19  19                unknown             1
20  20                unknown             1
21  21                unknown             1
22  22            industrials             1
23  23              unknown10             1
24  24                unknown             1
25  25                unknown             1
26  26                unknown             1
27  27            fishHunting             2
28  28                unknown             1
29  29                unknown             1